<section class="row panel-main">
    <div class="col-xs-12 main-content">
        <div class="row title-content" >
            <h1>Solicitud de Programa Presupuestario</h1>
        </div>
        <br/>
        <div class="col-xs-6 main-content">
            <center> MISION</center>
            <div class="panel panel-default">
                <div class="panel-body">Evaluar la educación obligatoria, así como cordinar y regular las tareas de evaluación en el marco del Sistema Nacional de Evaluación Edicativa (SNEE) y aportar directrices de mejora con el fin de contribuir al cumplimiento del derecho a una educación de calidad con equidad.</div>
            </div>
        </div>
        <div class="col-xs-6 main-content">
            <center>VISION</center>
            <div class="panel panel-default">
                <div class="panel-body">El Instituto es un organismo reconocido por su autoridad  en materia de evaluación, por la solidez técnica de sus productos y por sus aportaciones  a las decisiones de política educativa del Estado Mexicano.</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 main-content">
        <div class="panel panel-default">
            <div class="panel-heading">Objetivo(s) Estratégico(s):</div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-sm-1" for="programaPresupuestario">
                        <md-button class="md-raised md-primary" type="submit" ng-click="">
                            <span class="glyphicon glyphicon-plus"></span> Agregar
                        </md-button>
                    </label>
                    <div class="col-sm-11">
                        <p class="form-control-static">
                            <select class="form-control selectdate" name="clave" required>
                                <option value="">Seleccione</option>                        
                                <option value="1">El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad concurrentes</option>
                            </select>
                        </p>
                        <ul class="list-group">
                            <li class="list-group-item">1.El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad </li>
                            <li class="list-group-item">2.El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad </li>
                            <li class="list-group-item">3.El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad </li>
                            <li class="list-group-item">4.El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad </li>
                            <li class="list-group-item">5.El SNEE funciona de manera eficaz mediente la cordinación del instituto y la implementación de la Política Nacional de Evaluación de la Evaluación de la Educación en un marco de responsabilidad </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">             
            <div class="panel-heading">                
                Programa Presupuestario:
            </div>
            <div class="panel-body">    
                <div class="panel-heading" align="right">
                    <md-button class="md-raised" ng-click="ctrlCBP.showDetailSearchBudgetProgram('Selección de Programa Presupuestario')">
                        <img class="icon-img" src="assets/img/icons/16X16/Edit.png"/>Editar
                    </md-button>                
                    <md-button class="md-raised" ng-click="ctrlCBP.showDetailSearchBudgetProgram('Selección de Programa Presupuestario')">
                        <img class="icon-img" src="assets/img/icons/16X16/Search.png"/>Seleccionar
                    </md-button>                
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="programaPresupuestario">Programa Presupuestario:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                            M001-Actividades de apoyo administrativo                            
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="objetivoProgramaPresupuestario">Objetivo del Programa Presupuestario:</label>
                        <div class="col-sm-9">                            
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario,
                            Apoyar al proceso presupuestario.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" align="right">
                <md-button class="md-raised" ng-click="">Registrar</md-button>                
                <md-button class="md-raised" ng-click="">Limpiar</md-button>                
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Año</th>
                            <th>Programa Presupuestario</th>
                            <th>Objetivo del Programa Presupuestario</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2017</td>
                            <td>M001-Actividades de apoyo administrativo</td>
                            <td>Apoyar al proceso presupuestario para mejorar la eficiencia</td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>M002-Actividades de apoyo administrativo</td>
                            <td>Apoyar al proceso presupuestario para mejorar la eficiencia</td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>M003-Actividades de apoyo administrativo</td>
                            <td>Apoyar al proceso presupuestario para mejorar la eficiencia</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <md-dialog-actions class="btn-actions pading1015">            
            <md-button class="btn" type="submit">Guardar</md-button>
        </md-dialog-actions>
    </div>    
</section>