<md-dialog>    
    <form id="searchBudgetProgramForm" name="searchBudgetProgramForm" ng-submit="" novalidate class="form-horizontal css-form">
        <div class="heading back-blue">
            <div class="title">{{data.uno}}</div>
        </div>
        <md-dialog-content>            
            <div class="md-dialog-content margin15">
                <label class="control-label col-sm-2" for="clave">Clave:</label>
                <div class="col-sm-10"> 
                    <div class="form-group">                       
                        <select class="form-control selectdate" name="clave" ng-model="data.clave">
                            <option value="">Seleccione</option>
                        </select>                        
                    </div>
                </div>
                <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
                <div class="col-sm-10">
                    <div class="form-group">
                        <input type="text" name="descripcion" class="form-control" id="descripcion" maxlength="100" ng-model="data.descripcion">
                    </div>
                </div>
                <label class="control-label col-sm-2" for="objetivo">Objetivo:</label>
                <div class="col-sm-10">
                    <div class="form-group">                        
                        <textarea rows="10" cols="20" name="objetivo" class="form-control" id="objetivo" maxlength="800" ng-model="data.objetivo"/>                        
                    </div>
                </div>
            </div>   
        </md-dialog-content>
        <md-dialog-actions class="btn-actions pading1015">
            <md-button class="btn" ng-click="cancelar()"> Cancelar</md-button>
            <md-button class="btn" type="submit">Aceptar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>